<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
  <div class="list-group">
      
    <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
       <i class="fa fa-fw fa-dashboard"></i>&nbsp;
       <span>Dashboard</span>
    </a>
    <a routerLink="/materialTable" [routerLinkActive]="['router-link-active']" class="list-group-item">
       <i class="fa fa-fw fa-dashboard"></i>&nbsp;
       <span>Material Table</span>
    </a>
    <a routerLink="/categoryList" [routerLinkActive]="['router-link-active']" class="list-group-item">
       <i class="fa fa-fw fa-product-hunt"></i>&nbsp;
       <span>Product Details</span>
    </a>
    <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <i class="fa fa-plus"></i>&nbsp;
                <span>Menu</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/fileUpload" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>File Upload</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>Submenu</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>Submenu</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>

          </div>
  <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
        <span>Collapse Sidebar</span>
    </div>
</nav>